<div class="container-md mt-5">
    <div class="card shadow-sm mt-5 p-5 mb-4 bg-light rounded-3">
        <div class="card-body">
            <h1 class="display-5 fw-bold">About Us</h1>
            <hr class="my-4">
            <p class="col-md-8 fs-5 text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias optio sed nisi. Praesentium hic vero, voluptatem reiciendis veniam iusto excepturi dolores placeat. Fugit consequuntur eaque placeat aliquam, eum iste quis?
                Reiciendis doloremque error debitis molestias rem accusamus quas optio ea dolores unde, voluptatibus ducimus ullam sunt. Ad, quo. Amet sapiente perspiciatis, corporis quasi quibusdam ut? Repellat exercitationem necessitatibus reprehenderit corrupti.
            </p>
        </div>
    </div>
</div>