<div class="card">
    <div class="card-body">
        <h1>About Us</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias optio sed nisi. Praesentium hic vero, voluptatem reiciendis veniam iusto excepturi dolores placeat. Fugit consequuntur eaque placeat aliquam, eum iste quis?
            Reiciendis doloremque error debitis molestias rem accusamus quas optio ea dolores unde, voluptatibus ducimus ullam sunt. Ad, quo. Amet sapiente perspiciatis, corporis quasi quibusdam ut? Repellat exercitationem necessitatibus reprehenderit corrupti.
            Harum excepturi dolore enim adipisci vero! Molestias quisquam odit praesentium recusandae, quod nesciunt commodi distinctio! Quisquam perspiciatis sunt assumenda, deleniti mollitia, dolorem suscipit ratione distinctio nulla sint autem aliquam minus.
        </p>
    </div>
</div>