<div class="container-md mt-5 ">
        <div class="card shadow-sm mt-5 p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5 ">
                <h1 class="display-5 fw-bold">Notes App NodeJS and Mongodb</h1>
                <hr>
                <p class="col-md-8 fs-5 text-muted">Notes App es una herramienta intuitiva desarrollada con NodeJS y MongoDB que permite a los usuarios gestionar sus notas de manera eficiente y segura. Ideal para mantener tus ideas organizadas y accesibles desde cualquier lugar</p>
                <a href="https://www.google.com" class="btn btn-primary btn-lg" role="button">Saber más</a>
            </div>
        </div>
    </div>
