body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 10%,
                rgba(150,29,253,0.5545243619489559) 50%, rgba(131,58,180,1) 90%);
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title, .card-body p, .card-body h5 {
    color: #333;
}

h1 {
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}
